html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('https://imgcdn.stablediffusionweb.com/2024/10/25/79e58c36-5565-44b5-985b-24dc17f61677.jpg'); /* đường dẫn ảnh */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 👈 giữ ảnh cố định khi scroll */
}
hr {
  display: none;
}

#recipe-list {
  border: 2px dashed #f4b6c2; /* màu pastel hồng nhẹ */
  border-radius: 12px;
  background-color: #fff9f9;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  font-family: 'Segoe UI', sans-serif;
}

#recipe-list:hover {
  transform: scale(1.01);
  transition: 0.2s ease;
}
h2 {
  display: inline-block;
  margin: 30px auto;
  text-align: center;
  color: #6f41a0;
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
h1 {
  display: inline-block;
  margin: 40px auto;
  text-align: center;
  color: #6f41a0;
  font-family: 'Patrick Hand', cursive;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}


